<h1>Seedly</h1>

<p>
  <% if logged_in? %>
    <p>Welcome back <%= current_user.name %></p>
    <a href="/logout">logout</a>
  <% else %>
    <a href="session/new">log in</a>
    <a href="users/new">sign up</a>
    <a href="<%= frost_date_searching_path %>">Find your frost dates!</a>
  <% end %>
</p>

