<p>You have a 90% probability of frost on <%= @frost_dates[0] %></p>




      # month_ninety = FrostDate.get_dates(prob_ninety)
      # day_ninety = prob_ninety.slice(2,4)

      # month_fifty = FrostDate.get_dates(prob_fifty)
      # day_fifty = prob_fifty.slice(2,4)

      # month_ten = FrostDate.get_dates(prob_ten)
      # day_ten = prob_ten.slice(2,4)
