

.body-container {
  padding: 80px 0px 0px 120px;
}

#new_seed input {
  width: 300px;
}

#new_seed input {
  width: 300px;
  height: 40px;
  line-height: 20px;
  font-size: 17px;
}
#new_seed.new_seed {
  width: 130px;
}

img {
  height: 30em;
  position: relative;
   top: -85px;
   right: -580px;
}

.nav ul {
    padding: 10px;
    background: black;
    text-align: right;
    padding-right: 8em;
    list-style-type: none;

  }

.other-nav a {
    display: block;
    width: 20em;
    font-size: 22px;
}

.other-nav li {
  list-style-type: none;
  line-height: 45px;
}

.nav li {
  color: white;
  display: inline;
  padding: 0px 10px 0px 10px;
}


/*background: url("/assets/seedly-logo.png") no-repeat center;*/
/*img {
   height: 40em;
  background-attachment: scroll, fixed;
  position: relative;
   top: -85px;
   right: -580px;
}*/

body {
  background: url('seedly-logo.png');
  background-repeat: no-repeat;
  background-size: 40em;
  background-position-x: 32em;
  background-position-y: 6em;
}

