

.body-container {
  padding: 80px 0px 0px 120px;
}

#new_seed input {
  width: 300px;
}

#new_seed input {
  width: 300px;
  height: 40px;
  line-height: 2;
  font-size: 17px;
}
#new_seed.new_seed {
  width: 130px;
}

#seedly-logot {
  height: 40em !important;
  background-attachment: scroll, fixed !important;
  position: relative !important;
   top: -85px !important;
   right: -580px !important;
}

/*img {
   height: 40em;
  background-attachment: scroll, fixed;
  position: relative;
   top: -85px;
   right: -580px;
}*/
