.form-container {
  padding-left: 40px;
}

.body-container {
  padding: 80px 0px 0px 120px;
}

#new_seed input {
  width: 300px;
}

#new_seed input {
  width: 300px;
  height: 40px;
  line-height: 2;
  font-size: 17px;
}

body {
  background-image: image-url('seedly-logo.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: scroll, fixed;
  background-position: 35em 5em, right;
}

